<div class="jumbotron">
  <h1>Cards</h1>
  <p class="lead">
    Your modern delivery service!
  </p>
</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-flag" ></i> Float a note</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:justify" class="">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A crush will always be just a crush unless you let them know how you feel. If you’re too shy to tell your crush that you like them in person, you could write them a note. Keep it short, simple, and to the point. Explain your feelings, but don’t include too many gushy details. Prepare yourself for your crush’s reaction, and remember that even if your crush doesn’t like you back, you will have been brave enough to get your own feelings off your chest—and that is something to be proud of.
      </p>
      <br/>
    </div>
  </div>

  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>
</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-gratipay" ></i> Send Greetings</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:justify" class="">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cards are just one way to keep in touch as well as to express emotions such as love, congratulations, condolences and gratitude. Although we live in a world run by digital communication, a card sent through postal mail can mean a lot to both the sender and the recipient. They can even mean more than an email, an e-card or even a phone call sometimes.
      </p>
      <br/>
    </div>
  </div>

  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>


</div>

<div class="article_box" style="padding-top:20px;">
  <div class="row">
    <div align="left" class="col-sm-6" >
      <h3><i class="fa fa-birthday-cake" ></i> Beautiful Photo Collages</h3>
    </div>
  </div>
  <div class="row">
    <div align="left" class="col-sm-12" >
      <p style="text-align:left" class="">
        Create amazing photo collages for your friend's birthday!!!
        We even deliver framed photo collages to your doorstep
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <div align="center" class="col-sm-12" >
      <a class="button_circ" ng-click="navigate()">Try now!</a>
    </div>
  </div>
</div>

