<div class="right_col" role="main" ng-controller="noteController">
  <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Note Handling</h3>
                    </div>
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchclass">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="searchByClass">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                              <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">Select</th>
                                            <th class="column-title">Product ID</th>
                                            <th class="column-title">Note</th>
                                            <th class="bulk-actions" colspan="7">
                                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Note in Notes">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records" ng-model="Product.selected">
                                            </td>
                                            <td> {{Note.productId}}</td>
                                            <td> {{Note.note}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
